{% extends 'base_admin.html.twig' %}
{% block data %}
    <div class="container">
        <h1>Панель администратора</h1>
        <br>
        <form method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Название сайта</label>
                    <input type="text" class="form-control" name="{{ title }}"  value="{{ title }}">                </div>
            </div><hr>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label>Главный заголовок первой картинки</label>
                    <input type="text" class="form-control" name="{{ title_banner_first_1 }}" value="{{ title_banner_first_1 }}">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Главный заголовок второй картинки</label>
                    <input type="text" class="form-control" name = "{{ title_banner_first_2 }}" value="{{ title_banner_first_2 }}">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Главный заголовок третьей картинки</label>
                    <input type="text" class="form-control" name="{{ title_banner_first_3 }}" value="{{ title_banner_first_3 }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label>Заголовок первой картинки</label>
                    <input type="text" class="form-control" name="{{ title_banner_second_1 }}" value="{{ title_banner_second_1 }}">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Заголовок второй картинки</label>
                    <input type="text" class="form-control" name="{{ title_banner_second_2 }}" value="{{ title_banner_second_2 }}">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Заголовок третьей картинки</label>
                    <input type="text" class="form-control" name="{{ title_banner_second_3 }}" >
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label>Текст на первой картинке</label>
                    <input type="text" class="form-control" name="{{ text_banner_second_1 }}" value="{{ text_banner_second_1 }}">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Текст на второй картинке</label>
                    <input type="text" class="form-control" name="{{ title_banner_second_2 }}" value="{{ title_banner_second_2 }}">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Текст на третьей картинке</label>
                    <input type="text" class="form-control" name="{{ title_banner_second_3 }}" value="{{ title_banner_second_3 }}">
                </div>
            </div><hr>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Первый заголовок</label>
                    <input type="text" class="form-control" name="{{ what_we }}" value="{{ what_we }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Первый подзаголовок</label>
                    <input type="text" class="form-control" name="{{ we_offer_our_customers }}" >
                </div>
            </div><hr>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label>Главная надпись под первой иконкой</label>
                    <input type="text" class="form-control" name="{{ icon_title_offer_1 }}" value="{{ icon_title_offer_1 }}">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Главная надпись под второй иконкой</label>
                    <input type="text" class="form-control" name="{{ icon_title_offer_2 }}"  value="{{ icon_title_offer_2 }}">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Главная надпись под третьей иконкой</label>
                    <input type="text" class="form-control" name="{{ icon_title_offer_3 }}" value="{{ icon_title_offer_3 }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label>Второстепенная надпись под 1-ой иконкой</label>
                    <input type="text" class="form-control" name="{{ icon_text_offer_1 }}" value="{{ icon_text_offer_1 }}">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Второстепенная надпись под 2-ой иконкой</label>
                    <input type="text" class="form-control" name="{{ icon_text_offer_2 }}" value="{{ icon_text_offer_2 }}">
                </div>

                <div class="col-md-4 mb-3">
                    <label>Второстепенная надпись под 3-ей иконкой</label>
                    <input type="text" class="form-control" name="{{ icon_text_offer_3 }}" value="{{ icon_text_offer_3 }}">
                </div>
            </div><hr>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Второй заголовок</label>
                    <input type="text" class="form-control" name="{{ our_service }}" value="{{ our_service }}" >
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Второй подзаголовок</label>
                    <input type="text" class="form-control" name="{{ we_offer_our_service }}" value="{{ we_offer_our_service }}">
                </div>
            </div><hr>

    <div class="row">
                <div class="col-md-3 mb-3">
                    <label>Главная надпись под первой иконкой</label>
                    <input type="text" class="form-control" name="{{ icon_title_service_1 }}" value="{{ icon_title_service_1 }}">
                </div>
                <div class="col-md-3 mb-3">
                    <label>Главная надпись под второй иконкой</label>
                    <input type="text" class="form-control" name="{{ icon_title_service_2 }}" value="{{ icon_title_service_2 }}">
                </div>
                <div class="col-md-3 mb-3">
                    <label>Главная надпись под третьей иконкой</label>
                    <input type="text" class="form-control" name="{{ icon_title_service_3 }}" value="{{ icon_title_service_3 }}">
                </div>
                <div class="col-md-3 mb-3">
                    <label>Главная надпись под четвертой иконкой</label>
                    <input type="text" class="form-control" name="{{ icon_title_service_4 }}" value="{{ icon_title_service_4 }}">
                </div>
    </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label>Второстепенная надпись под 1-ой иконкой</label>
                    <input type="text" class="form-control" name="{{ icon_text_service_1 }}" value="{{ icon_text_service_1 }}">
                </div>
                <div class="col-md-3 mb-3">
                    <label>Второстепенная надпись под 2-ой иконкой</label>
                    <input type="text" class="form-control" name="{{ icon_text_service_2 }}" value="{{ icon_text_service_2 }}">
                </div>
                <div class="col-md-3 mb-3">
                    <label>Второстепенная надпись под 3-ой иконкой</label>
                    <input type="text" class="form-control" name="{{ icon_text_service_3 }}" value="{{ icon_text_service_3 }}">
                </div>
                <div class="col-md-3 mb-3">
                    <label>Второстепенная надпись под 4-ой иконкой</label>
                    <input type="text" class="form-control" name="{{ icon_text_service_4 }}" value="{{ icon_text_service_4 }}">
                </div>
            </div><hr>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Название галереи</label>
                    <input type="text" class="form-control" name="{{ projects }}" value="{{ projects }}">
                </div>
            </div><hr>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Код карты</label>
                    <input type="text" class="form-control" name="{{ map }}" value="{{ map }}">
                </div>
            </div><hr>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Телефон</label>
                    <input type="text" class="form-control" name="{{ telefon }}" value="{{ telefon }}">
                </div>
            </div><hr>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Адрес электронной почты</label>
                    <input type="text" class="form-control" name = 'mail'>
                </div>
            </div><hr>
            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
        <br>
    </div>
{% endblock %}