<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} | Home</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- //for-mobile-apps -->
    <link href="../../public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../public/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../public/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <!--//fonts-->
    <!-- js -->
    <script type="text/javascript" src="../../public/js/jquery-2.1.4.min.js"></script>
    <!--light-box-files -->
    <script src="../../public/js/modernizr.custom.js"></script>
    <script src="../../public/js/jquery.chocolat.js"></script>
    <link rel="stylesheet" href="../../public/css/chocolat.css" type="text/css" media="screen">
    <!--//light-box-files -->
    <script type="text/javascript">
        $(function() {
            $('.gallery a').Chocolat();
        });
    </script>
    <!-- //js -->
    <script src="../../public/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 1000,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="../../public/js/move-top.js"></script>
    <script type="text/javascript" src="../../public/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>
<body>

<!--Header-->
<div class="header">
    <!--Top-Bar-->
    <div class="top-bar">
        <div class="container">
            <div class="header-nav">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="../../index.php">{{title}}</a></h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                        <nav class="linkEffects linkHoverEffect_12">
                            <ul>
                                <li><a class="active" href="../../index.php"><span>Home</span></a></li>
                                <li><a class="scroll" href="#about"><span>About</span></a></li>
                                <li><a class="scroll" href="#service"><span>Services</span></a></li>
                                <li><a class="scroll" href="#gallery"><span>Gallery</span></a></li>
                                <li><a class="scroll" href="#contact"><span>Contact</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!--//Top-Bar-->
    <!--Slider-->
    <div class="container">
        <div class="col-md-12">
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">
                        <li>
                            <div class="slider-img">
                                <img src="../../public/images/banner1.jpg" class="img-responsive" alt="{{title_images_banner1}}">
                            </div>
                            <div class="slider-info">
                                <span class="italic">{{text_banner_first_1}} </span>
                                <h4> {{title_banner_first_1}}</h4>
                                <h3>{{title_banner_second_1}}</h3>
                                <p>{{text_banner_second_1}}</p>

                            </div>
                        </li>
                        <li>
                            <div class="slider-img">
                                <img src="../../public/images/banner2.jpg" class="img-responsive" alt="{{title_images_banner2}}">
                            </div>
                            <div class="slider-info">
                                <span class="italic">{{text_banner_first_2}} </span>
                                <h4> {{title_banner_first_2}}</h4>
                                <h3>{{title_banner_second_2}}</h3>
                                <p>{{text_banner_second_2}}</p>

                            </div>
                        </li>
                        <li>
                            <div class="slider-img">
                                <img src="../../public/images/banner3.jpg" class="img-responsive" alt="{{title_images_banner3}}">
                            </div>
                            <div class="slider-info">
                                <span class="italic">{{text_banner_first_3}} </span>
                                <h4> {{title_banner_first_3}}</h4>
                                <h3>{{title_banner_second_3}}</h3>
                                <p>{{text_banner_second_3}}</p>

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <!--//Slider-->
    </div>
    <!--//Header-->
    <!--about-->
    <div class="offer-w3layouts" id="about">
        <div class="container">
            <div class="offer-header-agile">
                <h3 class="tittle">{{what_we}} <span>{{offer}}</span></h3>
                <p>{{we_offer_our_customers}}</p>
            </div>
            <div class="row">
                <div class="col-md-4 offer-grid ">
                    <div class="icon">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                    </div>
                    <h4>{{icon_title_offer_1}}</h4>
                    <p>{{icon_text_offer_1}}</p>
                </div>
                <div class="col-md-4 offer-grid ">
                    <div class="icon">
                        <i class="fa fa-map-o" aria-hidden="true"></i>
                    </div>
                    <h4>{{icon_title_offer_2}}</h4>
                    <p>{{icon_text_offer_2}}</p>
                </div>
                <div class="col-md-4 offer-grid ">
                    <div class="icon">
                        <i class="fa fa-university" aria-hidden="true"></i>
                    </div>
                    <h4>{{icon_title_offer_3}}</h4>
                    <p>{{icon_text_offer_3}}</p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!--//about-->
    <!--service-->
    <div class="offer-w3layouts" id="service">
        <div class="container">
            <div class="offer-header-agile">
                <h3 class="tittle">{{Our}} <span>{{service}}</span></h3>
                <p>{{we_offer_our_customers}}</p>
            </div>
            <div class="row">
                <div class="col-md-3 offer-grid ">
                    <div class="icon">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                    </div>
                    <h4>{{icon_title_service_1}}</h4>
                    <p>{{icon_text_service_1}}</p>

                </div>
                <div class="col-md-3 offer-grid ">
                    <div class="icon">
                        <i class="fa fa-map-o" aria-hidden="true"></i>
                    </div>
                    <h4>{{icon_title_service_2}}</h4>
                    <p>{{icon_text_service_2}}</p>
                </div>
                <div class="col-md-3 offer-grid ">
                    <div class="icon">
                        <i class="fa fa-university" aria-hidden="true"></i>
                    </div>
                    <h4>{{icon_title_service_3}}</h4>
                    <p>{{icon_text_service_3}}</p>
                </div>
                <div class="col-md-3 offer-grid ">
                    <div class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <h4>{{icon_title_service_4}}</h4>
                    <p>{{icon_text_service_4}}</p>
                </div>
                <div class="clearfix"></div>
            </div>


        </div>
    </div>
    <hr>
    <!--//service-->
    <!--/gallery-->
    <div class="gallery" id="gallery">
        <div class="container">
            <!--script-->
            <script type="text/javascript" src="../../public/js/jquery.hoverdir.js"></script>
            <script type="text/javascript">
                $(function() {

                    $(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );

                });
            </script>
            <!--script-->
            <h3 class="tittle">{{Our}} <span>{{Projects}}</span></h3>
            <div class="gallery-grids">
                <section>
                    <ul id="da-thumbs" class="da-thumbs">
                        <li>
                            <a href="../../public/images/gallery1.jpg" class="b-link-stripe b-animate-go  thickbox">
                                <img src="../../public/images/gallery1.jpg" alt="" />
                                <div>
                                    <h5><span>{{title}}</span></h5>
                                    <p>{{text_projects}}</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../../public/images/gallery2.jpg" class="b-link-stripe b-animate-go  thickbox">
                                <img src="../../public/images/gallery2.jpg" alt="" />
                                <div>
                                    <h5><span>{{title}}</span></h5>
                                    <p>{{text_projects}}</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../../public/images/gallery3.jpg" class="b-link-stripe b-animate-go  thickbox">
                                <img src="../../public/images/gallery3.jpg" alt="" />
                                <div>
                                    <h5><span>{{title}}</span></h5>
                                    <p>{{text_projects}}</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    <!--//gallery-->
    <!--map-->
    <hr>
    <h3 class="tittle"><span>MAP</span></h3>
    <div class="container">
       <div align="center" >
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2352.855861207814!2d27.51865981591274!3d53.86321098009061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd0417696dcf7%3A0x409d60ef596fa55a!2z0YPQu9C40YbQsCDQmtCw0LfQuNC90YbQsCAyNCwg0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1526110553741" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <hr>
    <!--//map-->


    <!--contact-->
    <div class="contact-w3-agileits" id="contact">
        <div class="container" >
            <h3 class="tittle"><span>contact</span></h3>
            <form action="#" method="post">
                <input type="text" name="Name" placeholder="Name*" required="" />
                <input type="email" name="Email" placeholder="Email*" required="" />
                <textarea name="Comments" placeholder="Message" required=""></textarea>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
    <!--/contact -->
    <!--footer-->

    <div class="footer">
        <div class="footer-head-agile">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="fa-icon-w3"><i class="fa fa-phone" aria-hidden="true"></i></span>CALL NOW : {{telefon}}
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <span class="fa-icon-w3"><i class="fa fa-envelope" aria-hidden="true"></i></span>MAIL : <a href="mailto:info@example.com">{{mail}}</a>
                    </div>
                </div>


            </div>
        </div>

        <div class="container">
            <div class="aboutus-right-wthree">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="clearfix"> </div>
        <div class="copy">
            <p>© {{year}} <a href="https://github.com/yaurau/yaurau-framework">Yaurau framework</a> . All Rights Reserved</p>
        </div>

    </div>
</div>
<!--/footer -->
<!-- smooth scrolling -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script type="text/javascript" src="../../public/js/bootstrap.min.js"></script>
</body>
</html>