{% extends 'base.html.twig' %}
{% block data %}
    <!--Top-Bar-->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg  ">
        <div class="container">
            <a class="navbar-brand" href="../index.php">{{title}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex" >
                <li class="nav-item active">
                    <a class="nav-link" href="../index.php">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    <!--//Top-Bar-->
    <div class="container">
        <br>
        <h2>Основные настройки</h2>
        <br>
        <form method="post" action="../models/admin-ajax.php" class="forms">
            <div class="form-group">
                <label>
                    <h6>Название сайта</h6>
                </label>
                <input type="text" class="form-control" name="title"  value="{{ title }}">
            </div>
            <button class=" btn btn-primary" type="submit" id="demo">Send form</button>
        </form>
        <br>
        <h6>Слайдер</h6>
        <br>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="image_1 card-img-top">
                                    <img class="card-img-top" src="../../public/img/{{ banner_1 }}">
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                                <a data-fancybox href="../public/img/{{ banner_1 }}" class="gray b-link-stripe b-animate-go  thickbox">View</a>
                                            </button>
                                            <button type="button" class=" buttons_1 btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                    </div>
                                    <div class="submit_1">
                                        <form class="form-zayavka_1" action="../models/upload.php" method="post" id="myForm_1"
                                              enctype="multipart/form-data">
                                            <hr>
                                            <label>PNG, JPG, or GIF (1024K max file size)</label>
                                            <input type="file" name="banner_1" id="file">
                                            <hr>
                                            <input type="submit" name="submit" class="btn btn-success" value="Upload Image">
                                        </form>
                                        <div class="progress_1 progress-striped active">
                                            <div class="progress-bar-slider_1 progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 0%">
                                                <span class="sr-only_1">0% Complete</span>
                                            </div>
                                        </div>
                                        <hr>
                                        <form method="post" action="../models/admin-ajax.php" class="forms">
                                            <div class="form-group">
                                                <label><h6>Заголовок слайда</h6></label>
                                                <input type="text" class="form-control" name="title_banner_first_1"  value="{{ title_banner_first_1 }}"><br>
                                                <label><h6>Текст слайда</h6></label>
                                                <input type="text" class="form-control" name="text_banner_second_1"  value="{{ text_banner_second_1 }}">
                                            </div>
                                            <button class=" btn btn-primary" type="submit" id="demo">Send form</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="image_2 card-img-top"><img class="card-img-top" src="../../public/img/{{ banner_2 }}"></div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                                    <a data-fancybox href="../public/img/{{ banner_2 }}" class="gray b-link-stripe b-animate-go  thickbox">View</a>
                                                </button>
                                                <button type="button" class=" buttons_2 btn btn-sm btn-outline-secondary">Edit</button>
                                            </div>
                                        </div>
                                        <div class="submit_2">
                                            <form class="form-zayavka_2" action="../models/upload.php" method="post" id="myForm_2"
                                                  enctype="multipart/form-data">
                                                <hr>
                                                <label>PNG, JPG, or GIF (1024K max file size)</label>
                                                <input type="file" name="banner_2" id="file">
                                                <hr>
                                                <input type="submit" name="submit" class="btn btn-success" value="Upload Image">
                                            </form>
                                            <div class="progress_2 progress-striped active">
                                                <div class="progress-bar-slider_2 progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                                     aria-valuemax="100" style="width: 0%">
                                                    <span class="sr-only_2">0% Complete</span>
                                                </div>
                                            </div>
                                            <hr>
                                            <form method="post" action="../models/admin-ajax.php" class="forms">
                                                <div class="form-group">
                                                    <label><h6>Заголовок слайда</h6></label>
                                                    <input type="text" class="form-control" name="title_banner_first_2"  value="{{ title_banner_first_2 }}"><br>
                                                    <label><h6>Текст слайда</h6></label>
                                                    <input type="text" class="form-control" name="text_banner_second_2"  value="{{ text_banner_second_2 }}">
                                                </div>
                                                <button class=" btn btn-primary" type="submit" id="demo">Send form</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                    <div class="image_3 card-img-top"><img class="card-img-top" src="../../public/img/{{ banner_3 }}"></div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                                    <a data-fancybox href="../public/img/{{ banner_3 }}" class="gray b-link-stripe b-animate-go  thickbox">View</a>
                                                </button>
                                                <button type="button" class=" buttons_3 btn btn-sm btn-outline-secondary">Edit</button>
                                            </div>
                                        </div>
                                        <div class="submit_3">
                                            <form class="form-zayavka_3" action="../models/upload.php" method="post" id="myForm_3"
                                                  enctype="multipart/form-data">
                                                <hr>
                                                <label>PNG, JPG, or GIF (1024K max file size)</label>
                                                <input type="file" name="banner_3" id="file">
                                                <hr>
                                                <input type="submit" name="submit" class="btn btn-success" value="Upload Image">
                                            </form>
                                            <div class="progress_3 progress-striped active">
                                                <div class="progress-bar-slider_3 progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                                     aria-valuemax="100" style="width: 0%">
                                                    <span class="sr-only_3">0% Complete</span>
                                                </div>
                                            </div>
                                            <hr>
                                            <form method="post" action="../models/admin-ajax.php" class="forms">
                                                <div class="form-group">
                                                    <label><h6>Заголовок слайда</h6></label>
                                                    <input type="text" class="form-control" name="title_banner_first_3"  value="{{ title_banner_first_3 }}"><br>
                                                    <label><h6>Текст слайда</h6></label>
                                                    <input type="text" class="form-control" name="text_banner_second_3"  value="{{ text_banner_second_3 }}">
                                                </div>
                                                <button class=" btn btn-primary" type="submit" id="demo">Send form</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
        </div>
        <h6>Первый раздел</h6>
        <form method="post" action="../models/admin-ajax.php" class="forms">
            <div class="form-row alert alert-secondary">
                <div class="form-group col-md-6">
                    <label>Первый заголовок</label>
                    <input type="text" class="form-control" name="what_we" value="{{ what_we }}">
                </div>
                <div class="form-group col-md-6">
                    <label>Первый подзаголовок</label>
                    <input type="text" class="form-control" name=" we_offer_our_customers" value="{{ we_offer_our_customers }}">
                </div>
                <div class="form-group col-md-4">
                    <label>Главная надпись под первой иконкой</label>
                    <input type="text" class="form-control" name=" icon_title_offer_1" value="{{ icon_title_offer_1 }}">
                </div>
                <div class="form-group col-md-4">
                    <label>Главная надпись под второй иконкой</label>
                    <input type="text" class="form-control" name=" icon_title_offer_2"  value="{{ icon_title_offer_2 }}">
                </div>
                <div class="form-group col-md-4">
                    <label>Главная надпись под третьей иконкой</label>
                    <input type="text" class="form-control" name=" icon_title_offer_3" value="{{ icon_title_offer_3 }}">
                </div>
                <div class="form-group col-md-4">
                    <label>Второстепенная надпись под 1-ой иконкой</label>
                    <input type="text" class="form-control" name=" icon_text_offer_1" value="{{ icon_text_offer_1 }}">
                </div>
                <div class="form-group col-md-4">
                    <label>Второстепенная надпись под 2-ой иконкой</label>
                    <input type="text" class="form-control" name=" icon_text_offer_2" value="{{ icon_text_offer_2 }}">
                </div>
                <div class="form-group col-md-4">
                    <label>Второстепенная надпись под 3-ей иконкой</label>
                    <input type="text" class="form-control" name=" icon_text_offer_3" value="{{ icon_text_offer_3 }}">
                </div>
            </div>
            <br>
            <h6>Второй раздел</h6>
            <div class="form-row alert alert-secondary">
                <div class="form-group col-md-6">
                    <label>Второй заголовок</label>
                    <input type="text" class="form-control" name=" our_service" value="{{ our_service }}" >
                </div>
                <div class="form-group col-md-6">
                    <label>Второй подзаголовок</label>
                    <input type="text" class="form-control" name=" we_offer_our_service" value="{{ we_offer_our_service }}">
                </div>
                <div class="form-group col-md-3">
                    <label>Главная надпись под первой иконкой</label>
                    <input type="text" class="form-control" name=" icon_title_service_1" value="{{ icon_title_service_1 }}">
                </div>
                <div class="form-group col-md-3">
                    <label>Главная надпись под второй иконкой</label>
                    <input type="text" class="form-control" name=" icon_title_service_2" value="{{ icon_title_service_2 }}">
                </div>
                <div class="form-group col-md-3">
                    <label>Главная надпись под третьей иконкой</label>
                    <input type="text" class="form-control" name=" icon_title_service_3" value="{{ icon_title_service_3 }}">
                </div>
                <div class="form-group col-md-3">
                    <label>Главная надпись под четвертой иконкой</label>
                    <input type="text" class="form-control" name=" icon_title_service_4" value="{{ icon_title_service_4 }}">
                </div>
                <div class="form-group col-md-3">
                    <label>Второстепенная надпись под 1-ой иконкой</label>
                    <input type="text" class="form-control" name=" icon_text_service_1" value="{{ icon_text_service_1 }}">
                </div>
                <div class="form-group col-md-3">
                    <label>Второстепенная надпись под 2-ой иконкой</label>
                    <input type="text" class="form-control" name=" icon_text_service_2" value="{{ icon_text_service_2 }}">
                </div>
                <div class="form-group col-md-3">
                    <label>Второстепенная надпись под 3-ой иконкой</label>
                    <input type="text" class="form-control" name=" icon_text_service_3" value="{{ icon_text_service_3 }}">
                </div>
                <div class="form-group col-md-3">
                    <label>Второстепенная надпись под 4-ой иконкой</label>
                    <input type="text" class="form-control" name=" icon_text_service_4" value="{{ icon_text_service_4 }}">
                </div>
            </div>
            <br>
            <button class="btn btn-primary" type="submit" id="demo">Send form</button>
        </form>
        <br>
    </div>
    <div class="container">
        <h6>Галерея</h6>
        <br>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <div class="image_4 card-img-top">
                                <img class="card-img-top" src="../../public/img/{{ gallery_1 }}">
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <a data-fancybox href="../public/img/{{ gallery_1 }}" class="gray b-link-stripe b-animate-go  thickbox">View</a>
                                        </button>
                                        <button type="button" class=" buttons_4 btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                </div>
                                <div class="submit_4">
                                    <form class="form-zayavka_4" action="../models/upload.php" method="post" id="myForm_4"
                                          enctype="multipart/form-data">
                                        <hr>
                                        <label>PNG, JPG, or GIF (1024K max file size)</label>
                                        <input type="file" name="gallery_1" id="file">
                                        <hr>
                                        <input type="submit" name="submit" class="btn btn-success" value="Upload Image">
                                    </form>
                                    <div class="progress_4 progress-striped active">
                                        <div class="progress-bar-galery_1 progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 0%">
                                            <span class="sr-only_4">0% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <div class="image_5 card-img-top">
                                <img class="card-img-top" src="../../public/img/{{ gallery_2 }}">
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <a data-fancybox href="../public/img/{{ gallery_2 }}" class="gray b-link-stripe b-animate-go  thickbox">View</a>
                                        </button>
                                        <button type="button" class=" buttons_5 btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                </div>
                                <div class="submit_5">
                                    <form class="form-zayavka_5" action="../models/upload.php" method="post" id="myForm_5"
                                          enctype="multipart/form-data">
                                        <hr>
                                        <label>PNG, JPG, or GIF (1024K max file size)</label>
                                        <input type="file" name="gallery_2" id="file">
                                        <hr>
                                        <input type="submit" name="submit" class="btn btn-success" value="Upload Image">
                                    </form>
                                    <div class="progress_5 progress-striped active">
                                        <div class="progress-bar-galery_2 progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 0%">
                                            <span class="sr-only_5">0% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <div class="image_6 card-img-top">
                                <img class="card-img-top" src="../../public/img/{{ gallery_3 }}">
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <a data-fancybox href="../public/img/{{ gallery_3 }}" class="gray b-link-stripe b-animate-go  thickbox">View</a>
                                        </button>
                                        <button type="button" class=" buttons_6 btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                </div>
                                <div class="submit_6">
                                    <form class="form-zayavka_6" action="../models/upload.php" method="post" id="myForm_6"
                                          enctype="multipart/form-data">
                                        <hr>
                                        <label>PNG, JPG, or GIF (1024K max file size)</label>
                                        <input type="file" name="gallery_3" id="file">
                                        <hr>
                                        <input type="submit" name="submit" class="btn btn-success" value="Upload Image">
                                    </form>
                                    <div class="progress_6 progress-striped active">
                                        <div class="progress-bar-galery_3 progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 0%">
                                            <span class="sr-only_6">0% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <form method="post" action="../models/admin-ajax.php" class="forms">
            <div class="form-row alert alert-secondary">
                <div class="form-group col-md-6">
                    <label>Название галереи</label>
                    <input type="text" class="form-control" name="projects" value="{{ projects }}">
                </div>
                <div class="form-group col-md-6">
                    <label>Код карты</label>
                    <input type="text" class="form-control" name="map" value="{{ map }}">
                </div>
            </div>
            <div class="form-row alert alert-secondary">
                <div class="form-group col-md-6">
                    <label>Телефон</label>
                    <input type="text" class="form-control" name="telefon" value="{{ telefon }}">
                </div>
                <div class="form-group col-md-6">
                    <label>Адрес электронной почты</label>
                    <input type="text" class="form-control" name ="mail" value="{{ mail }}">
                </div>
            </div>
            <br>
            <button class="btn btn-primary" type="submit" id="demo">Send form</button>
        </form>
    </div>
{% endblock %}
{% block javascript %}
    <script src="../public/js/jquery.fajax.js"></script>
    <script src="../public/js/main.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="../public/js/slider-script.js"></script>
{% endblock %}